html,
body {
  font-family: "Poppins", sans-serif;
  list-style: none;
  background: linear-gradient(to left, rgb(73, 182, 255), rgb(220, 181, 239));
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  margin: 10px;
}
