.page {
  background: url("../../assets/back.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;

  .container {
    padding: 100px auto;
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      margin: 10px 20px;

      li {
        margin: 10px;
      }
    }
  }
}
