.card {
  background: #ffffff;
  border: 1px solid #49b6ff;

  box-sizing: border-box;
  box-shadow: 6px 8px 4px rgba(73, 182, 255, 0.3);
  border-radius: 5px;

  padding: 10px;

  width: 550px;
  max-height: 250px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    img {
      max-width: 130px;
      max-height: 130px;

      margin: 0px 5px;
    }

    .text {
      margin: 0px 5px;

      h2 {
      }
      p {
        font-size: 13px;
        line-height: 15px;

        color: #6f6767;
      }
    }
    .actions {
      padding: 0px 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      h2 {
        margin-bottom: 30px;
      }
      button {
        border: 0;
        cursor: pointer;

        margin: 0 auto;
        width: 146px;
        height: 34px;

        background: #ff499e;
        border-radius: 8px;

        color: white;
      }
    }
  }
  .pixDiv {
    width: 100%;

    margin-top: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
    padding: 5px;


    box-sizing: border-box;
    border-radius: 5px;
  }
  #pix {
    color: #49b6ff;
    font-style: italic;
    font-size: 16px;
    font-weight: 600;

    margin-left: 8px;
    padding: 2px;

    background-color: white;
  }
}
