.button-sucess {
  button {
    border: none;
    border-radius: 5px;

    width: 180px;
    height: 38px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-weight: 600;

    background-color: #5dca46;
    color: #fff;
  }
}
