footer {
  width: 100%;
  height: 100px;
  background: linear-gradient(to left, rgb(220, 181, 239), rgb(73, 182, 255));
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
}
